// UKVP theme colors
$theme-first-color: #01913F;


body {
	color:#666;
	background-color:#fff;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;

	font-size:16px; line-height:1.5;
	margin:0; padding:0;
}

nav {
   &.navbar{
      //border-bottom: 4px solid #dee2e6;
		border-bottom: 4px solid $theme-first-color;
   }

	#navbarRegionSelect{
		text-align-last: center;
	}
	
	.navbar-brand img{
		height: 75px;
		width: auto;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: $theme-first-color;
	font-weight: 600;
}

.info-bar{
   margin: 0;
   border: 0;
   padding: 10 px 0;
   
   h1,h2,h3,h4,h5{
      font-family: 'Open Sans',Arial,Helvetica,sans-serif;
      color:#333;
      line-height: 1.5;
      margin:0;
      padding: 0;
   }
   
   h3>span{
      color: $theme-first-color;
   }
   
   p,small{
      font-size: 12px;
      line-height: 1;
   }
   
   &.info-bar-clean{
      background-color: #fff;
      border-bottom: rgba(0,0,0,0.1) 1px solid;
   }
   
   div.row{
      &>div{
         padding-top: 20px;
         padding-bottom: 20px;
         margin: 0 !important;
         border-right: rgba(1,147,64,0.1) 1px solid;
      }
   }
	
}

header.page-header{
	background-color: rgba(148,149,150,0.05);
	border-top: 0;
	
	h1{
		font-size: 2rem;
		font-family: Ubuntu,sans-serif;
		text-transform: uppercase;
		color: $theme-first-color;
	}
}

/* Revolution Slider */
.rev_slider{
	.tp-bannertimer{
		height: 2px !important;
	}
	
	.tp-caption{
		&.text_white, &.large_bold_white{
			color:#fff;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
		}

		&.medium_text{
			font-size: 2rem;
		}

		&.very_large_text{
			font-size: 5rem;
		}
		
		&.text_green, &.large_bold_green{
			color:$theme-first-color;
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
		}
		
		&.bg_green{
			background: rgba(1, 145, 63, 0.61);
			padding: 1rem;
		}
	}
}
/* Revolution Slider End*/

div.heading-title {
   position: relative;
   margin-bottom: 1rem;
   
   p{
      margin: 0;
      padding: 0;
      font-weight: 300;
   }

   &.heading-border-bottom{
      border-bottom: #ccc 2px solid;
   }
}

div.heading-border-bottom.heading-color {
    border-bottom-color: #8ab933;
}


.branchContact{
	
	.card-header{
		background-color: $theme-first-color;
		padding: 0 1.25rem;
		
		.btn-link{
			font-size: 1.3rem;
			color: white;
		}
	}
	
	h2, h3, h4{
		color: $theme-first-color; 
	}
	h2{
		font-size: 1.2rem;
	}
	h4{
		font-size: 1rem;
	}
	
	i.far,i.fas{
		font-size: 2rem;
		color: $theme-first-color; 
	}

	p{
		font-size: 1rem;
	}

	dl{
		//padding-top: .8rem;
	
		dd{
			margin-bottom: 1rem;
			
			dl{
				//font-size: .8rem;
				dt{
					font-weight: 400;
				}
				
				dd{
					margin-bottom: 0;
				}
			}
			
		}
	}
	

}

footer {
	margin-top: 5rem;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	display: block;
	background: #313131;
	background: -moz-linear-gradient(top, $theme-first-color 0%, #0c773a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $theme-first-color), color-stop(100%, #0c773a));
	background: -webkit-linear-gradient(top, $theme-first-color 0%, #0c773a 100%);
	background: -o-linear-gradient(top, $theme-first-color 0%, #0c773a 100%);
	background: -ms-linear-gradient(top, $theme-first-color 0%, #0c773a 100%);
	background: linear-gradient(to bottom, $theme-first-color 0%,#0c773a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$theme-first-color', endColorstr='#0c773a',GradientType=0 );
}

footer>.copyright {
    background-color: rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 25px 0;
    font-size: 13px;
    display: block;
}

ul.list-icons {
    margin-left: 1.75em;
    position: relative;
}
ul.list-icons>li {
    position: relative;
}
ul.list-icons>li>i {
    position: absolute;
    left: -1.75em;
    width: 14px;
    text-align: center;
    top: 5px;
}

.mt-60{
   margin-top: 60px !important;
}
.fs-30{
   font-size: 30px !important;
}
.fw-300{
   font-weight: 300 !important
}

#disclaimer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    //display: none;
    z-index: 1000;
    font-size: 12px;
    line-height: 14px;

	article {
		 border-radius: 4px;
		 background-color: #ffc107;
		 text-align: justify;
		 border: 1px solid #eee;
		 padding: 10px 20px;
		 position: relative;
	}
	
	button {
		color: #000;
		background-color: transparent;
		border: none;
		position: absolute;
		top: -15%;
		right: -2%;
	 }
}